<div class="col-1-of-2">
  <div class="col">
    <h1>
     Welcome to Mcgaye Funeral Services
      <span>
        As much as we can plan for death, the actual shock of it cannot be denied. When one dies. families have to knock
        on many doors - from Home Affairs, for Mortuaries, to Florists. Mcgaye Funeral Services is here to walk that
        journey with you.
      </span>

      <span class="actions">
        <span class="primary">Get a quote</span>
        <span class="secondary">Let us call you</span>
      </span>
    </h1>
  </div>


  <div class="col">
    <img src="../../../assets/images/happy.png" alt="">
  </div>
</div>
