<app-banner-widget [heading]="' About Us'"></app-banner-widget>
<div class="section about">


  <p>
    As of the 1st of November 2021 all our branches will be going cashless implies that Mcgaye has availed digital
    payment options for payments of premiums, sign-ups and any other related payments.

    We have put a number of payment options that our clients can use to pay for their policies and all these methods are
    of ease and convenience.

    As of the 1st of November 2021 all our branches will be going cashless implies that Mcgaye has availed digital
    payment options for payments of premiums, sign-ups and any other related payments.

    We have put a number of payment options that our clients can use to pay for their policies and all these methods are
    of ease and convenience.
  </p>

  <br>
  <!-- <div class="action">


    <a routerLink="/book"><button>Join us</button></a>
    <a routerLink="/our-vision-mission-values"><button>Read OUR VISION, MISSION AND VALUES</button></a>

  </div> -->
</div>
