<div class="slider">
  <div class="slide">

    <div class="scroller scroller-phone" id="scroller">
      <img src="assets/images/phone-banner-3.png" alt="">
      <img src="assets/images/phone-banner-1.png" alt="">
      <img src="assets/images/phone-banner-2.png" alt="">
    </div>

    <div class="scroller scroller-pc" id="scroller2">
      <img src="assets/images/pc1.png" alt="">
      <img src="assets/images/pc2.png" alt="">
      <img src="assets/images/pc.png" alt="">
    </div>
    <!-- 
    <img class="menu" *ngIf="slider === 2" src="assets/images/phone-banner-1.png" alt="">
    <img class="menu" *ngIf="slider === 1" src="assets/images/phone1.png" alt=""> -->
    <div class="intro">
      <h2>
        Top Up Your Cover With Our
        <span>
          GROCERY PLAN
        </span>
      </h2>

      <a routerLink="/book"><button>Top up</button></a>

    </div>
  </div>
</div>
