<app-banner-widget [heading]="heading"></app-banner-widget>
<button (click)="back()">Back</button>

<div class="section about" *ngIf="item">
  <h2>
    {{item.Name}}
  </h2>

  <p>
    {{item.Description}}
  </p>



  <span *ngIf="item && item.CreateDate && premiums && premiums.length">
    <h4 class="tab-header">
      Premiums
    </h4>
    <div class="col-1-of-2 prem" *ngFor="let child of premiums">

      <div class="form-item">

        <h6>
          {{child.Name}}
        </h6>
      </div>
      <div class="form-item">
        <h6 class="tar">
          {{child.Price | currency : 'R'}}
        </h6>
      </div>

    </div>


  </span>


  <span *ngIf="benefits && benefits.length">
    <h4 class="tab-header">
      Benefits
    </h4>

    <div class="col-1-of-2 prem" *ngFor="let child of benefits">

      <div class="form-item">

        <h6>
          {{child.Name}}
        </h6>
      </div>
   

    </div>


  </span>





  <br>
  <div class="action">
    <button [disabled]="!item.Name" (click)="quote()">Geet a quote</button>
  </div>
</div>

<app-feedback [message]="message" *ngIf="message"></app-feedback>
